body{
    margin: 0;
    font-family: "Comic Sans MS";
}

/* Logo Start */
.logo-container {
    text-align: center;
    background-color: #13005A;+
}
.logo{
    width: 300px;
}
/* Logo End */


/* Menu Start */
.navbar{
    background-color: #03C988;
    text-align: center;
}
.navbar ul{
    padding: 0;
    margin: 0;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
}
.navbar ul li a{
    text-decoration: none;
    padding: 16px;
    display: block;
    font-size: 1.2rem;
    color: #fff;
}
.navbar ul li a:hover{
    background-color: #00337C;
}
.open-menu{
    display: none;
    text-align: right;
    margin-right: 50px;
}
.open-menu svg{
    width: 50px;
}
.close-menu{
    display: none;
    text-align: right;
    margin-right: 50px;
}
.close-menu svg{
    width: 50px;
}


@media (max-width: 768px){
    .navbar ul{
        display: none;
    }
    .navbar ul li{
        display: block;
    }
    .open-menu{
        display: block;
    }
}
/* Menu End */


/* Download Section Start */
.download{
    background-color: #00337C;
    padding: 100px;
    display: flex;
    flex-direction: row;
}
.phone-container{
    flex: 1;
    text-align: center;
}
.phone-img{
    height: 500px;
}

.download-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.download-button-png{
 width: 200px;
}

@media (max-width: 768px) {
    .download{
        display: block;
    }

    .phone-container{
        margin-bottom: 50px;
    }
}
/* Download Section End */





/* Create Question Section Start */
.question-title{
    background-color: #00337C;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    padding-top: 50px;
}
.question-title h1{
    color: #fff;
    font-size: 2.4rem;
}
.question-title p{
    color: #fff;
}

.createQuestion{
    background-color: #00337C;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
    flex: 1
}
.phone-box{
    border-color: #fff;
    border-style: solid;
    border-top-width: 16px;
    border-bottom-width: 24px;
    border-left-width: 2px;
    border-right-width: 2px;
    padding: 20px;
    border-radius: 10px;
    background-color: #13005A;
}

.subject{
    padding: 20px 0 40px;
    text-align: center;
}
.subject input{
    background-color: #13005A;
    border: none;
    border-bottom: 1px solid #fff;
    text-align: center;
    color: #fff;
    margin: 10px;
}
.question{
    background-color: #1C82AD;
    padding: 100px 0;
    border-radius: 20px;
    text-align: center;
    margin: 0 10px;
}
.question input{
    background-color: #1C82AD;
    border: none;
    border-bottom: 1px solid #fff;
    text-align: center;
    color: #fff;
}
.answer-big{
    margin-top: 40px;
}
.answer{
    display: flex;
    flex-direction: row;
}
.answer-box{
    background-color: #00337C;
    padding: 50px 0;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
}
.answer-correct-box{
    background-color: #03C988;
    padding: 50px 0;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
}
.answer-correct-box input{
    background-color: #03C988;
    border: none;
    border-bottom: 1px solid #fff;
    text-align: center;
    color: #fff;
    width: 80%;
}
.answer-box input{
    background-color: #00337C;
    border: none;
    border-bottom: 1px solid #fff;
    text-align: center;
    color: #fff;
    width: 80%;
}
input:focus{
    outline: none;
}
.form-footer{
    margin-top: 50px;
}
.form-footer input{
    display: block;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: #00337C;
    color: #fff;
    margin: 0 auto 24px;
}
.form-footer input[type='text'], .form-footer input[type='mail']{
    width: 60%;
}
.form-footer input[type='submit']{
    background-color: #03C988;
    border: none;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
}

::placeholder {
    color: #fff;
    opacity: 0.6;
}

/* Create Question Section End */


/* Footer Start */
.footer{
    background-color: #13005A;
    padding: 50px;
    display: flex;
    flex-direction: row;
}
.footer-logo{
    flex:1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer-link{
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}
.footer-router{
    flex: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer-navigation{
    color: #fff;
    font-size: 1rem;
    padding-left: 20px
}

@media (max-width: 768px){
    .footer{
        display: block;
    }
    .footer-logo{
        margin-bottom: 50px;
    }

}
/* Footer End */



/* News Section Start */
.news-section{
    background-color: #1C82AD;
    padding: 5%;
}
.news-article{
    background-color: #00337C;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 2%;
}

.news-article img{
    width: 150px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.news-article h2{
    margin: 0 50px;
}

.news-article a{
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
}

@media(max-width: 768px){
    .news-article{
        margin-bottom: 5%;
        margin-top: 5%;
    }
}
/* News Section End */




/* Content Section Start */
.content-section{
    background-color: #1C82AD;
    padding: 5%;
}
.content-article {
    background-color: #00337C;
    border-radius: 20px;
    padding: 2%;
}
.content-header{
    position: relative;
}
.content-article h2{
    font-size: 1.5rem;
    color: #fff;
    display: inline-block;
}

.content-article span{
    font-size: 0.8rem;
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    font-style: italic;
    opacity: 0.8;
}
.content-article p{
    text-align: justify;
    color: #fff;
    font-size: 1rem;
}
.content-article ul li{
    color: #fff;
}
.content-article a{
    color: #03C988;
}
@media(max-width: 768px){
    .content-article {
        padding: 5%;
    }
}
/* Conten Section End */



/* Help Section Start */
.help-section{
    background-color: #00337C;
    padding: 50px;
    text-align: center;
}
.help-section p{
    color: white;
    font-size: 1rem;
    margin-bottom: 50px;
}
.help-section a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    padding: 10px;
    background-color: #03C988;
    border-radius: 20px;
}
/* Help Section End */






